.MuiPaper-root.MuiCard-root.makeStyles-root-35.MuiPaper-elevation1.MuiPaper-rounded {
  max-width: 500px;
}
.MuiPaper-root.MuiCard-root.makeStyles-root-40.MuiPaper-elevation1.MuiPaper-rounded {
  max-width: 500px;
}
/* p.MuiTypography-root.makeStyles-pos-41.MuiTypography-body1 {
  padding-right: 300px;
} */
.MuiPaper-root.MuiCard-root.makeStyles-root-43.MuiPaper-elevation1.MuiPaper-rounded {
  max-width: 500px;
}
.MuiPaper-root.MuiCard-root.makeStyles-root-48.MuiPaper-elevation1.MuiPaper-rounded {
  max-width: 500px;
}
